{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log-in{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 mb-5">
            <h1>Log-in</h1>
            {% if form.errors %}
                <p>
                    Your username and password didn't match. Please try again.
                </p>
            {% else %}
                <p>Please, use the following form to log-in. If you don't have an account <a
                        href="{% url "register" %}">register here</a>.</p>
            {% endif %}
            <form action="{% url 'login' %}" method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="hidden" name="next" value="{{ next }}"/>
                <br>
                <button class="btn btn-outline-primary btn-sm" type="submit">Log in</button>
            </form>
            <br>
            <a class="btn btn-outline-primary btn-sm" href="{% url "password_reset" %}">Forgotten your password?</a>
        </div>
        <div class="col-md-4 offset-md-1">
            <h2>Sign in with your social network</h2>
            <a class="btn btn-block btn-facebook" href="{% url "social:begin" "facebook" %}">Sign in with Facebook</a>
            <a class="btn btn-block btn-twitter" href="{% url "social:begin" "twitter" %}">Login with Twitter</a>
            <a class="btn btn-block btn-google" href="{% url "social:begin" "google-oauth2" %}">Login with Google</a>
        </div>
    </div>
{% endblock %}