{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-4 offset-md-4">
            <h1>Reset your password</h1>
            {% if validlink %}
                <p>Please enter your new password twice:</p>
                <form action="." method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-outline-primary btn-sm" type="submit">Change my password</button>
                </form>
            {% else %}
                <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                    password reset.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}