<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url "login" %}">Social Bookmarks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.user.is_authenticated %}
                    <li class="nav-item" {% if section == "dashboard" %}class="selected"{% endif %}>
                        <a class="nav-link" href="{% url "dashboard" %}">My dashboard</a>
                    </li>
                    <li class="nav-item" {% if section == "images" %}class="selected"{% endif %}>
                        <a class="nav-link" href="{% url "images:list" %}">Images</a>
                    </li>
                    <li class="nav-item" {% if section == "people" %}class="selected"{% endif %}>
                        <a class="nav-link" href="{% url "user_list" %}">People</a>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="nav-hello"><i class="far fa-smile-wink"></i>
                        Hello {{ request.user.first_name }}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "logout" %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "login" %}">Log-in</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>